.page-header {
    position: relative;
    z-index: 0;

    &:before {
        @include opacity-overlay-background();
        background-color: $footer-bg-color;
    }

    .page-title {
        max-width: 100%;
        width: 1200px;

        h1 {
            font-size: 30px;
            font-weight: normal;
            line-height: .9;
            color: #fff;
            font-family: $font-family-serif;
        }

        .breadcrumb {
            margin: 0 auto;
            text-align: center;

            .breadcrumb-item {
                font-weight: normal;
            }
        }
    }
}

@include media-breakpoint-up(md) {
    .page-header {
        margin-top: $header-topbar-height + 30px;

        .page-title {
            padding: 130px 0 70px !important;
            h1 {
                font-size: 70px;
                font-weight: normal;
                line-height: .9;
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .page-header {
        .page-title {
            padding: 180px 0 120px !important;
        }
    }
}
