.block-company-history {
    .block-image {
        @include centerize-background;
        width: 220px;
        min-width: 220px;
    }
    h2 {
        font-size: 19px;
        text-transform: uppercase;
        &:after {
            @include line-below-left;
        }
    }
    .block-entries {
        .block-entry {
            position: relative;

            &:last-child {
                margin-bottom: 0 !important;
            }

            .block-entry-hl {
                position: relative;
                font-family: $font-family-serif;
                font-size: 20px;
                color: #000;

                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    left: -22px;
                    top: 16px;
                    height: 1px;
                    width: 15px;
                    background-color: var(--bs-primary);
                }

                .block-entry-date {
                    color: var(--bs-primary);
                }
            }
        }
    }
}
