.block-contact-details {
    .block-icon {
        display: block;
        text-align: center;
        color: var(--bs-primary);
        font-size: 40px;
    }

    .block-details {
        text-align: center;
        display: block;
        text-transform: uppercase;
    }
}
